USE [master]
GO
/****** Object:  Database [PracticalTest]    Script Date: 3/20/2018 8:26:41 AM ******/
CREATE DATABASE [PracticalTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PracticalTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PracticalTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PracticalTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PracticalTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PracticalTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PracticalTest]
GO
USE [PracticalTest]
GO
/****** Object:  Table [dbo].[tbl_Book]    Script Date: 3/20/2018 8:26:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Book](
	[bookId] [varchar](10) NOT NULL,
	[bookTitle] [varchar](50) NOT NULL,
	[description] [varchar](250) NOT NULL,
	[author] [varchar](50) NOT NULL,
	[publisher] [varchar](50) NOT NULL,
	[price] [float] NULL,
 CONSTRAINT [PK_tbl_Book] PRIMARY KEY CLUSTERED 
(
	[bookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Customer]    Script Date: 3/20/2018 8:26:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Customer](
	[id] [varchar](20) NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
	[phoneNumber] [varchar](30) NOT NULL,
	[address] [nvarchar](250) NOT NULL,
	[customerLevel] [int] NULL,
	[password] [varchar](30) NOT NULL,
 CONSTRAINT [PK_tbl_Customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Order]    Script Date: 3/20/2018 8:26:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Order](
	[id] [varchar](10) NOT NULL,
	[orderDate] [datetime] NOT NULL,
	[total] [float] NULL,
	[isDeliver] [bit] NULL,
	[customerId] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tbl_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_Book] ([bookId], [bookTitle], [description], [author], [publisher], [price]) VALUES (N'B1', N'HeadFirst', N'java oracle', N'samson', N'samson', 1500)
INSERT [dbo].[tbl_Book] ([bookId], [bookTitle], [description], [author], [publisher], [price]) VALUES (N'B2', N'Java', N'java', N'java', N'java', 200)
INSERT [dbo].[tbl_Customer] ([id], [fullName], [phoneNumber], [address], [customerLevel], [password]) VALUES (N'duong', N'Duong', N'01674484419', N'TCH', 0, N'duong')
INSERT [dbo].[tbl_Order] ([id], [orderDate], [total], [isDeliver], [customerId]) VALUES (N'OR1', CAST(N'2018-03-20T00:00:00.000' AS DateTime), 1500, 0, N'duong')
USE [master]
GO
