<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>day07.servlet.ControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>day07.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNameServlet</servlet-name>
        <servlet-class>day07.servlet.SearchNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchResultServlet</servlet-name>
        <servlet-class>day07.servlet.searchResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>day07.servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassRoleServlet</servlet-name>
        <servlet-class>day07.servlet.UpdatePassRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCookiesServlet</servlet-name>
        <servlet-class>day07.servlet.ProcessCookiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartSevlet</servlet-name>
        <servlet-class>day07.servlet.AddToCartSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartSevlet</servlet-name>
        <servlet-class>day07.servlet.ViewCartSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveSelectedServlet</servlet-name>
        <servlet-class>day07.servlet.RemoveSelectedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>day07.servlet.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/ControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNameServlet</servlet-name>
        <url-pattern>/SearchNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchResultServlet</servlet-name>
        <url-pattern>/searchResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassRoleServlet</servlet-name>
        <url-pattern>/UpdatePassRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCookiesServlet</servlet-name>
        <url-pattern>/ProcessCookiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartSevlet</servlet-name>
        <url-pattern>/AddToCartSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartSevlet</servlet-name>
        <url-pattern>/ViewCartSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveSelectedServlet</servlet-name>
        <url-pattern>/RemoveSelectedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ControllerServlet</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>SE1264MVC2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
