<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MiddleServlet</servlet-name>
        <servlet-class>sample.servlets.MiddleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>sample.servlets.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSignInServlet</servlet-name>
        <servlet-class>sample.servlets.CheckSignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>sample.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMobileServlet</servlet-name>
        <servlet-class>sample.servlets.UpdateMobileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMobileServlet</servlet-name>
        <servlet-class>sample.servlets.DeleteMobileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertMobileServlet</servlet-name>
        <servlet-class>sample.servlets.InsertMobileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>sample.servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>sample.servlets.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFromCartServlet</servlet-name>
        <servlet-class>sample.servlets.DeleteFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>sample.servlets.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>sample.servlets.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>sample.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MiddleServlet</servlet-name>
        <url-pattern>/MiddleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckSignInServlet</servlet-name>
        <url-pattern>/CheckSignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMobileServlet</servlet-name>
        <url-pattern>/UpdateMobileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMobileServlet</servlet-name>
        <url-pattern>/DeleteMobileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertMobileServlet</servlet-name>
        <url-pattern>/InsertMobileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFromCartServlet</servlet-name>
        <url-pattern>/DeleteFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MiddleServlet</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>DBSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
