--create where
USE master;  
GO
--check if exists
IF DB_ID (N'WorkshopPRJ321') IS NULL  
DROP DATABASE WorkshopPRJ321;  
GO 
/****** Object:  Database [WorkshopPRJ321]    Script Date: 3/10/2018 12:08:17 AM ******/
CREATE DATABASE [WorkshopPRJ321]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkshopPRJ321', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WorkshopPRJ321.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WorkshopPRJ321_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WorkshopPRJ321_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorkshopPRJ321].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorkshopPRJ321]
GO
USE [WorkshopPRJ321]
GO
/****** Object:  Table [dbo].[CartDetails]    Script Date: 3/10/2018 12:08:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetails](
	[userID] [varchar](20) NOT NULL,
	[mobileID] [varchar](10) NOT NULL,
	[quantity] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_CartDetails] PRIMARY KEY CLUSTERED 
(
	[userID] ASC,
	[mobileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mobile]    Script Date: 3/10/2018 12:08:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mobile](
	[mobileID] [varchar](10) NOT NULL,
	[description] [varchar](250) NOT NULL,
	[price] [float] NULL,
	[mobileName] [varchar](20) NOT NULL,
	[yearOfProduction] [int] NULL,
	[quantity] [int] NULL,
	[notSale] [bit] NULL,
 CONSTRAINT [PK_Mobile] PRIMARY KEY CLUSTERED 
(
	[mobileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/10/2018 12:08:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [varchar](20) NOT NULL,
	[password] [int] NOT NULL,
	[fullName] [varchar](50) NOT NULL,
	[role] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CartDetails] ([userID], [mobileID], [quantity], [isActive]) VALUES (N'duong', N'MB001', 12, 0)
INSERT [dbo].[CartDetails] ([userID], [mobileID], [quantity], [isActive]) VALUES (N'duong', N'MB003', 4, 0)
INSERT [dbo].[CartDetails] ([userID], [mobileID], [quantity], [isActive]) VALUES (N'duong', N'MB004', 1, 0)
INSERT [dbo].[Mobile] ([mobileID], [description], [price], [mobileName], [yearOfProduction], [quantity], [notSale]) VALUES (N'MB001', N'This is to test blah blah', 80, N'Samsung S8', 2016, 10, 0)
INSERT [dbo].[Mobile] ([mobileID], [description], [price], [mobileName], [yearOfProduction], [quantity], [notSale]) VALUES (N'MB002', N'lorem ipsum', 54.299999237060547, N'Xperia', 2016, 20, 0)
INSERT [dbo].[Mobile] ([mobileID], [description], [price], [mobileName], [yearOfProduction], [quantity], [notSale]) VALUES (N'MB003', N'The newest product of Apple', 78.5999984741211, N'Iphone 7', 2016, 85, 0)
INSERT [dbo].[Users] ([userID], [password], [fullName], [role]) VALUES (N'duong', 0, N'DuongPTH', 0)
INSERT [dbo].[Users] ([userID], [password], [fullName], [role]) VALUES (N'manager', 1, N'Manager', 1)
INSERT [dbo].[Users] ([userID], [password], [fullName], [role]) VALUES (N'staff', 2, N'Staff', 2)
ALTER TABLE [dbo].[CartDetails] ADD  DEFAULT ('0') FOR [isActive]
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD  CONSTRAINT [FK_CartDetails_Mobile] FOREIGN KEY([mobileID])
REFERENCES [dbo].[Mobile] ([mobileID])
GO
ALTER TABLE [dbo].[CartDetails] CHECK CONSTRAINT [FK_CartDetails_Mobile]
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD  CONSTRAINT [FK_CartDetails_User] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[CartDetails] CHECK CONSTRAINT [FK_CartDetails_User]
GO
USE [master]
GO
